<nav class="navbar">
  <div class="logo">
    <img src="logo.png" alt="prINTech" class="logo-img" routerLink="">
  </div>

  <div class="nav-links">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
    <a routerLink="/print" routerLinkActive="active">Imprimer</a>
    <a routerLink="/history" routerLinkActive="active">Historique</a>
    <a *ngIf="isAdmin()" routerLink="/admin/dashboard" routerLinkActive="active">Admin</a>
  </div>

  <div class="nav-right">
    <img [src]="avatarSrc()" alt="profil" class="avatar" routerLink="/profile">
  </div>
</nav>